body{
    background:white
}

header{
    background-color: #5FA4FF;
    width:1491px ;
    height: 180px;
    font-family:  "Cinzel", "serif";
}
{
    font-size:65px;
}

#gatocachorro{
   position: absolute;
  left: 1308.94px;
  top: 10px; 
}