body{
    background:white
}

header{
    background-color: #5FA4FF;
    width:1491px ;
    height: 180px; ;
}

#gatocachorro{
    width:171.16px;
    height:172px;
    padding-left: 80%;
    padding-right: 12%;
}