body{
    background:white
}

header{
    background-color: #5FA4FF;
    width:1491px ;
    height: 180px; ;
}

#gatocachorro{
    width:171.16px;
    height:172px;
    image-orientation:"download 1.png";
    position: absolute; 
    top: 0;  
    left:1308.94; 
}